<!DOCTYPE html>
<html>

<style>

  .headpage{
    color: #44a02d;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  .bntFunc {
    width: 200px;
    height: 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border-color: #3361b6;
  
}

</style>
  <head>
    <title>Magic numbers</title>

  </head>
  <body>
    <h1 class="headpage">Max Shevchenko present magic numbers</h1>
    <div>
        <button class = 'bntFunc'>Я загадываю ты отгадываешь</button>
        <button class = 'bntFunc'>Ты загадываю я отгадываешь</button>
    </div>
  </body>
</html>
