<!DOCTYPE html>
<html>
<head>
    <title>Magic number by Max. Main</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
    
</style>
<body>
    <form>
        <div class = "main_div">
            <h2> Choose a Magic Number Option: </h2>
            <button formaction="/number1" class="bntFunc" style="margin-top: 15%">"I pick a number, and you guess."</button>
            <br>
            <button formaction="/number2" class="bntFunc" style="margin-top: 5%">You pick a number, and I guess.</button>
        </div>
    </form>
</body>

</html>