<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Magic Number bt Max. My turn</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="main_div">
        <h1>Think of a number between <br /> 1 and 100.</h1>
        <h1 class="result" id="number">My variant {{ gener_value }}</h1>
        <button class="bntFunc" name="action" id="more" data-action="more"style="margin-top: 5%"> >More </button>
        <button class="bntFunc" name="action" id="less" data-action="less" >Less< </button><br>
        <button class="bntFunc" name="action" id="equals" data-action="equals" style="margin-top: 3%"> =Equals=</button>
        <br><br><br><br><br>
        <a href="/" >to home...</a>
    </div>
    
    <script>
        $(document).ready(function() {
            var number = 0;
        
            // обработчик нажатия на кнопки
            $('.bntFunc').on('click', function() {
                var action = $(this).data('action');
                $.ajax({
                    type: 'POST',
                    url: '/iPick',
                    data: {
                        action: action
                    },
                    success: function(data) {
                        number = data.result;
                        $('#number').text(number);
                    }
                });
            });
        });
    </script>
</body>

</html>