<!DOCTYPE html>
<html>
<head>
    <title>Magic number by Max. Your turn</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body onload="document.getElementById('text').focus(); document.getElementById('text').value = '';" >
    <div class = "main_div">
        <h1>Magic number from 1 to 100</h1>
        <h1 class="result" id="result">Attempts Number: {{ attempt }}</h1>
        <br><br><br>
        <label for="text">Enter your number:</label>
        <br>
        <input type="number" id="text" name="text" onkeydown="handleKeyDown(event)">
        <br><br><br>
        <button class="bntFunc" id="process-btn" onclick="focusInput()">Process</button>
        <div class ="result" id="result"></div>
        <br><br><br>
        <a href="/">to home...</a>
        <!-- <button formaction="/" position="absolute" bottom="0";>  <-- Back to the Menu</button> -->
        
    </div>
    <script>
        /* устанавливает фокус на строке ввода и выделяет строку, не нужно удалять пред-ший результат*/
        function focusInput() {
			document.getElementById('text').focus();
            document.getElementById('text').select();
		}
        /* вместо клика на кнопку можно нажать Enter */
        function handleKeyDown(event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("process-btn").click();
            }
        }
        /* JS-скрипт для обработки запроса с формы (спасибо ChatGPT)*/
        $(document).ready(function() {
            $('#process-btn').click(function() {
                var text = $('#text').val();
                $.ajax({
                    url: '/process_number1',
                    type: 'POST',
                    data: {'text': text},
                    success: function(response) {
                        $('#result').html(response.result);
                        
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
